<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>

  <li class="breadcrumb-item active">Tasks</li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i>
    Tasks
    <button type="button" class="btn btn-success" style="float: right" ng-click="show=true">Add</button>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Title</th>

            <th>Description</th>

            <th>Importance</th>

            <th>Creation Date</th>

            <th>Completion Date</th>

            <th>Project</th>

            <th>Employee</th>
        </thead>

        <tbody>
            <tr ng-show="show">
                <td><input type="text" class="form-control" placeholder="Name..." ng-required="required"></td>
                <td><input type="text" class="form-control" placeholder="Name..." ng-required="required"></td>
                <td><input type="text" class="form-control" placeholder="Name..." ng-required="required"></td>
                <td><input type="text" class="form-control" placeholder="Name..." ng-required="required"></td>
                <td><input type="text" class="form-control" placeholder="Name..." ng-required="required"></td>
                <td> 
                    <select class="form-control" >
                      <option ng-repeat="project in projects" value="{{project.ID}}">{{ project.Name }}</option>
                    </select>
                </td>
                <td> 
                    <select class="form-control" >
                      <option ng-repeat="employee in employees" value="{{employee.ID}}">{{employee.FirstName}} {{employee.LastName}}</option>
                    </select>
                </td>
      
                <td class="d-flex justify-content-around aling-stretch" style="border: none">
    
                  <button class="btn"><i class="fas fa-plus-square text-success"></i></button>
                  <button class="btn" ng-click="show=false"><i class="far fa-trash-alt text-danger" ></i></button> 
                </td>
                
              </tr>
          <tr ng-repeat="task in data">
            <td>{{task.Title}}</td>

            <td>{{task.Description}}</td>

            <td>
              {{task.Importance}}
            </td>

            <td>
              {{task.CreationDate}}
            </td>

            <td>
              {{task.CompletionDate}}
            </td>

            <td>
              {{task.Project.Name}}
            </td>

            <td>
              {{task.Employee.Name}}
            </td>
            <td class="d-flex justify-content-around aling-stretch" style="border: none">
                <a href="#!/task/{{task.ID}}"><i class="far fa-edit text-primary"></i></a>
                <button class="button-favicon" ng-click="DeleteRecord(task.ID)"><i class="far fa-trash-alt text-danger"></i></button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>