
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!/">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#!/tasks">Tasks</a></li>
        <li class="breadcrumb-item active">{{task.Name}}</li>
    </ol>
    <div class="heading">Update task</div>
    <div class="flex flex-row content-holder">
        <div class="col-3">
            <div class="cell">Name</div>
            <div class="cell">Description</div>
            <div class="cell">Importance</div>
            <div class="cell">Creation Date</div>
            <div class="cell">Completion Date</div>
            <div class="cell">Project</div>
            <div class="cell">Employee</div>
        </div>

        <div class="col-4">
            <div class="cell">{{::task.Name}}</div>
            <div class="cell">{{::task.Description}}</div>    
            <div class="cell">{{::task.Importance}}</div>    
            <div class="cell">{{::task.CreationDate}}</div>    
            <div class="cell">{{::task.CompletionDate}}</div>    
            <div class="cell">{{::task.Project.Name}}</div>    
            <div class="cell">{{::task.Employee.Name}}</div>
        </div>

        <div class="right-poss col-4">
            <form name="editTask">
                <input class="cell form-control" ng-model="task.Name" type="text" reqired>
                <input class="cell form-control" ng-model="task.Description" type="text" reqired>
                <select class="cell form-control" name="imp" class="form-control" ng-model="task.Importance" required>
                    <option value="Low">Low</option>
                    <option value="Meduim">Meduim</option>
                    <option value="High">High</option>
                    <option value="Top priority">Top priority</option>
                </select>
                <md-datepicker class="cell form-control" ng-model="picker.CreationDate" md-hide-icons="calendar" md-current-view="year" required></md-datepicker>
                <md-datepicker class="cell form-control" ng-model="picker.CompletionDate" md-hide-icons="calendar" md-current-view="year" md-min-date="picker.CreationDate"required></md-datepicker>
                <select class="cell form-control" ng-options="project.Name for project in projects track by project.$id" ng-model="SelectedProject" required></select>
                <select class="cell form-control" ng-options="employee.Name for employee in employees track by employee.$id" ng-model="SelectedEmployee" required></select>
            </form>
        </div>
    </div>
    <div class="center">
        <button ng-click="UpdateRecord()" ng-disabled="editTask.$invalid" class="btn btn-info">Update</button>
    </div>