<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Projects</li>
</ol>

<form class="form-inline my-2 my-lg-0 mr-lg-2" style="float:right;">
  <div class="input-group">
    <input class="form-control" type="text" ng-model='searchBox' placeholder="Search for...">
    <span class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
  </div>
</form><br><br>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i>Projects</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Department</th>
            <th>Employees</th>
            <th>Tasks</th>
            <th>Start Date</th>
            <th>Completion date</th>
          </tr>
        </thead>
        <tbody ng-repeat="project in data | filter: searchBox">
          <td>{{project.Name}}</td>
          <td>{{project.Description}}</td>
          <td>{{project.Department.Name}}</td>
          <td>Employees</td>
          <td>Tasks</td>
          <td>{{project.CreationDate}} </td>
          <td>{{project.CompletionDate}}</td>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>