<div class="container">
    <div class="heading">Update project</div>
    <div class="flex flex-row content-holder">
        <div class="col-3">
            <div class="cell">Name</div>
            <div class="cell">Description</div>
            <div class="cell">Department</div>
            <div class="cell">Creation Date</div>
            <div class="cell">Completion Date</div>
        </div>

        <div class="col-4">
            <div class="cell">{{::project.Name}}</div>
            <div class="cell">{{::project.Description}}</div>    
            <div class="cell">{{::project.Department.Name}}</div>    
            <div class="cell">{{::project.CreationDate}}</div>    
            <div class="cell">{{::project.CompletionDate}}</div>    
        </div>

        <div class="right-poss col-4">
            <form name="editProject">
                <input class="cell form-control" ng-model="project.Name" type="text" reqired>
                <input class="cell form-control" ng-model="project.Description" type="text" reqired>
                <select class="cell form-control" ng-options="department.Name for department in departments track by department.$id" ng-model="SelectedDepartment" required></select>
                <md-datepicker class="cell form-control" ng-model="picker.CreationDate" md-hide-icons="calendar" md-current-view="year" required></md-datepicker>
                <md-datepicker class="cell form-control" ng-model="picker.CompletionDate" md-hide-icons="calendar" md-current-view="year" md-min-date="picker.CreationDate"required></md-datepicker>
            </form>
        </div>
    </div>
    <div class="center">
        <button ng-click="UpdateRecord()" ng-disabled="editProject.$invalid" class="btn btn-info">Update</button>
        <a href="#!/project/{{project.$id}}/employees"><button class="btn btn-info">Mannage Employees</button></a>
    </div>
</div>