/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.add-item {
  display: inline;
}

.add-item button {
  background-color: #e9ecef;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 5px;
}


/* HELPERS */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row
}

.button-favicon {
  border: 0px;
  background-color: transparent; 
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  flex-direction: row;
}


/* FLEX */

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.col-5 {
  flex: 5;
}

.col-6 {
  flex: 6;
}

.col-7 {
  flex: 7;
}

.col-8 {
  flex: 8;
}

.col-9 {
  flex: 9;
}

.col-10 {
  flex: 10;
}

.col-11 {
  flex: 11;
}

.col-12 {
  flex: 12;
}


.cell {
  padding: 7px;
  margin: 2px;
  color: #343a40;
}

.center-spaced {
  text-align: center;
  margin: 10px;
}

.inner-container{
    padding: 5px 0px;
    background-color: #e3dede;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 5px;
}

.heading {
  color: #343a40;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 30px;
}

.right-justify{
  align-items: space-around;
}

.button-favicon {
  border: 0px;
  background-color: transparent;
}
.gutter-1 {
  flex: 1;
}

.cell {
  padding: 7px;
  margin: 3px;
  color: #343a40;
}

.content-holder{
  background-color: #e3dede;
  border: 1px solid #a3a1a1;
  border-radius: 5px;
}   

.dash-heading {
  color: #FFF;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4%;
}

.center {
  text-align: center;
  margin-top: 20px;
}

table {
  margin: 0 auto;
}

 