<div class="container-fluid">
    <div>

        <form>
            <input type="text" class="form-control"  ng-model="record.Name" ng-required="true" style="margin-bottom: 5em;">
            <ng-form>
            <div class="list-group checked-list-box container" style="height: 10em; overflow-y: scroll; margin-bottom: 5em;">
                    <label class="list-group-item" ng-repeat="employee in employees">
                            <input type="checkbox" checklist-model="record.Employees" checklist-value="employee.$id">
                            {{employee.Name}}</label>
                    </div>
            </ng-form>
            <div class="list-group checked-list-box container" style="height: 10em; overflow-y: scroll">
                <label class="list-group-item" ng-repeat="project in projects">
                        <input class="" type="checkbox" checklist-model="record.Projects" checklist-value="project.$id">
                        {{project.Name}}</label>
            </div>
            <button class="btn btn-primary" type="submit" ng-click="update(record)">Edit</button>
        </form>
    </div>
</div>