<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#!/Dashboard">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Departments</li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Departments 
    <a href="#!/departments/department-add"><button type="button" class="btn btn-success" style="float: right">Add</button></a>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Employees</th>
            <th>Projects</th>
          </tr>
        </thead>
        <tbody>
          <!--<tr ng-show="show">
            <td><input type="text" class="form-control" placeholder="Name..." ng-required="required"></td>
            <td><a href="#!/employees">Add...</a></td>
            <td><a href="#!/projects">Add...</a></td>

            <td class="d-flex justify-content-around aling-stretch" style="border: none">

              <button class="btn"><i class="fas fa-plus-square text-success"></i></button>
              <button class="btn" ng-click="show=false"><i class="far fa-trash-alt text-danger" ></i></button> 
            </td>
            
          </tr>-->
          <tr ng-repeat="department in data">
              <td>{{department.Name}}</td>
              <td>Employees</td>
              <td>Projects</td>
              <td class="d-flex justify-content-around aling-stretch" style="border: none">
                <a href="#!/departments/department-details/{{department.$id}}"><button class="btn"><i class="far fa-edit text-primary"></i></button></a>
                <button class="btn" ng-click="delete(department.$id)"><i class="far fa-trash-alt text-danger" ></i></button> 
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>