<div class="container">
        <div class="heading">Employee Details</div>
        <div class="flex flex-row content-holder">
            <div class="col-3">
                <div class="cell">Name</div>
                <div class="cell">Date of Birth</div>
                <div class="cell">Hire Date</div>
                <div class="cell">Job</div>
                <div class="cell">Department</div>
                <div class="cell">Projects</div>
                <div class="cell">Tasks</div>
            </div>
    
            <div class="col-4">
                <p>{{employee.Name}}</p>
                <p>{{employee.DateOfBirth}}</p>
                <p>{{employee.HireDate}}</p>
                <p>{{employee.JobTitle}}</p>
                <p>{{employee.Department.Name}}</p>
                <div class="container" style="border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll;">
                    <ul ng-repeat="project in employee.Projects">
                        <li>{{project.Name}}</li>
                    </ul>
                </div>
                <div class="container" style="border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll;">
                    <ul ng-repeat="task in employee.Tasks">
                        <li>{{task.Title}}</li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>