<div class="container">
        <ol class="breadcrumb">
            <a class="mr-2" href="{{previousPath}}">
                <button ng-disabled="previousPath == undefined" class="btn btn-primary">Back</button>
            </a>
                <li class="breadcrumb-item align-self-center">
                  <a href="#!/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active align-self-center">Employees</li>
                <li class="breadcrumb-item active align-self-center">Edit {{ ::selectedEmployee.Name }}</li>
              </ol>
        <div class="heading">Update Employee</div>
        <div class="flex flex-row content-holder">
            <div class="col-3">
                <div class="cell">Name</div>
                <div class="cell">Date of Birth</div>
                <div class="cell">Hire Date</div>
                <div class="cell">Job</div>
                <div class="cell">Department</div>
            </div>
    
            <div class="col-4">
                    <div class="cell">{{ ::selectedEmployee.Name }}</div>
                    <div class="cell">{{ ::selectedEmployee.DateOfBirth }}</div>    
                    <div class="cell">{{ ::selectedEmployee.HireDate }}</div>    
                    <div class="cell">{{ ::selectedEmployee.JobTitle }}</div>    
                    <div class="cell">
                        <div> {{ ::selectedEmployee.Department.Name }}</div>
                    </div>
            </div>
            <div class="right-poss col-4">
                <form name="editEmployee">
                <input class="cell form-control" ng-model="selectedEmployee.Name" type="text" required>
                <input class="cell form-control" ng-model="selectedEmployee.DateOfBirth" type="text" required>
                <input class="cell form-control" ng-model="selectedEmployee.HireDate" type="text" required>
                <input class="cell form-control" ng-model="selectedEmployee.JobTitle" type="text" required>
                <select class="cell form-control" ng-options="department.Name for department in departments track by department.$id" ng-model="selectedDepartment" required> </select>
                </form>
            </div>
        </div>
        <div class="center">
            <button ng-click="UpdateRecord()" ng-disabled="editEmployee.$invalid" class="btn btn-info">Update</button>
        </div>

    </div>