<ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#!/Dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Employees</li>
      </ol>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Employees 
          <button class="btn btn-dark" style="float: right;">Add</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Date Of Birth</th>
                  <th>Hire Date</th>
                  <th>Job</th>
                  <th>Department</th>
                  <th>Projects</th>
                  <th>Tasks</th>
                </tr>
              </thead>
              <tbody>
                  <tr style="">
                      <td> <input type="text" class="form-control"  placeholder="First Name" /> </td>
                      <td> <input type="text" class="form-control"  placeholder="Last Name" /> </td>
                      <td> <input type="date" class="form-control"  placeholder="Date of Birth" /> </td>
                      <td> <input type="date" class="form-control"  placeholder="Hire Date" /> </td>
                      <td> <input type="text" class="form-control"  placeholder="Job Title" /> </td>
                      <td> 
                            <select class="form-control" >
                              <option ng-repeat="department in departments" value="{{ department.Name }}"> {{ department.Name }}</option>
                            </select>
                      </td>
                      <td>Projects</td>
                      <td>Tasks</td>
                    </tr>
                  <tr ng-repeat="employee in employees">
                    <td> {{ employee.FirstName }} </td>
                    <td> {{ employee.LastName }} </td>
                    <td> {{ employee.DateOfBirth }} </td>
                    <td> {{ employee.HireDate }} </td>
                    <td> {{ employee.JobTitle }} </td>
                    <td> {{ employee.Department }} </td>
                    <td>Projects</td>
                    <td>Tasks</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
       <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
      </div>
    </div>